.main {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100% auto;
  height: 1000px;
}

.claim {
  width: 100% auto;
  height: 475px;
  padding-top: 50px;
  background-color: #15395f;
}

.band {
  width: 80%;
  height: 395px;
  margin-top: 20px;
  background-image: url("https://i.pinimg.com/originals/65/c8/ba/65c8ba1c19e1e06b55952e84bdbac098.jpg");
  background-repeat: no-repeat;
  margin-left: 12%;
  margin-right: 8%;
  opacity: 0.9;
}

.join {
  width: 32%;
  height: 170px;
  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  left: 33%;
  top: 30%;
  border-radius: 20px;
}

h5.ontop {
  color: white;
  padding: 20px 10px 10px 10px;
  z-index: 2;   
  text-align: center;
  font-weight: 600;
  line-height: 20px;
}

button {
    background-color:#1e417a;
    color: white;
    border-radius: 9px;
    height: 30px;
    position: inherit;
    left: 36%;
}

.we-are {
  width: 100% auto;
  height: 550px;
  background-color: black;
  color: white;
  margin: 0;
}

h4 {
  padding-left: 12%;
  padding-right: 12%;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.box {
  width: 40%;
  padding-left: 12%;
  padding-right: 100px;
  display: inline-block;
  align-content: space-between;
}