<div class="main">
    <div class="claim">

        <div class="band">
            <div class="join">
                <h5 class="ontop">Crear un grupo y lanzarse al éxito es difícil.
                    <br>
                    <br>Encontrar a los músicos que necesitas-
                    <br> ya no lo será tanto</h5>
                <button routerLink="/signup">Regístrate</button>
            </div>
        </div>
        <div class="we-are">
                <div class="boxes">  
            <h4>Bremen es un punto de encuentro para músicos y otros artistas, donde podrás buscar a los integrantes que le falten
                a tu proyecto, o buscar una banda que necesite a alguien como tú.</h4>
  
            <div class="box">
                <h3>Listado de anuncios</h3>
                <p>En los 'viejos tiempos' tenías que colgar un papel cerca de un local de ensayo, y esperar. Con Bremen dispones
                    de un listado de anuncios que podrás filtrar por estilos, ciudades y tipos de proyecto, ahorrándote mucho
                    tiempo en la búsqueda</p>
                <img src="" alt="">
            </div>
            <div class="box">
                <h3>Comunidad y eventos</h3>
                <p>En los 'viejos tiempos' tenías que colgar un papel cerca de un local de ensayo, y esperar. Con Bremen dispones
                    de un listado de anuncios que podrás filtrar por estilos, ciudades y tipos de proyecto, ahorrándote mucho
                    tiempo en la búsqueda</p>
                <img src="" alt="">
            </div>
        </div>

        </div>
        <div>

        </div>


    </div>
</div>