
    <h1> Únete a Bremen.io </h1>
      <form>
        <div class="registry">
          <div class="boxes">
            <label> Email: </label>
            <input class="form-control" id="email" type="text" [(ngModel)]="email"
              #newUser="ngModel" name="email" required minlength="6" />
        
            <label> Contraseña: </label>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" />
          </div>
        
          <div class="butt">
            <button class="signmeup" (click)="signup()"> Registrarme </button>
          </div>
        </div>
        </form>
        <div class="login">
          <p>¿Ya estás registrado?</p>
          <button routerLink="/login">Entrar</button>
        </div>
        <!-- <p *ngIf="error" class="error"> {{ error }} </p> -->
        
        
        
        
        
        <div *ngIf="session.getUser()">
          <pre> {{ session.getUser() | json }} </pre>
          <button (click)="logout()"> Cerrar sesión </button>
    </div>
              <!-- <div *ngIf="newUser.errors && (newUser.dirty || newUser.touched)">
                  <p class="error" [hidden]="!newUser.errors.minlength">
                    <small>El nombre de usuario debe tener un mínimo de 6 caracteres.</small>
                  </p>
                </div>
              <br> -->