
  <!-- <a class="btn btn-primary" href="/">Ir a inicio</a> -->

    <button class="out" (click)="logout()"> Cerrar sesión </button>
    <button class="create" routerLink="/ads/new">Crear anuncio</button>
    <button class="edit" routerLink="/ads/new">Editar datos (botón de prueba)</button>
    <button class="onlymine" routerLink="/ad/my-ads">Mis anuncios</button>

  <h2>Tu perfil</h2>

  <div class="profile"  name="user">

  <!-- <strong> {{user?.imgUrl}} </strong> -->
  <h4> {{user?.username}} </h4>
  <h4> {{user?.city}} </h4>
  <h4> {{user?.description}} </h4>
  <h4> {{user?.instrument}} <i> {{user?.experience}} </i></h4>
  <h4> {{user?.otherInstrument}} </h4><br>
  </div>


     


  <!-- <a class="btn btn-primary" href="/users/<%= user._id %>/edit">Editar mis datos</a>
  <a class="btn btn-primary" href="/ad/my-ads">Mis anuncios</a>
<a class="btn btn-primary" href="/users/delete">Eliminar mi perfil</a> -->

