
  <!-- <a class="btn btn-primary" href="/">Ir a inicio</a> -->

    <button (click)="logout()"> Cerrar sesión </button>


  <h2>Tu perfil</h2>
  <!-- <a class="btn btn-primary" href="/ad/list">Ver lista completa de anuncios</a> -->

  <div class="profile"  name="user">

  <strong> {{user?.imgUrl}} </strong>
  <br/>
  <strong> {{user?.username}} </strong>
  <br/>
  <strong> {{user?.city}} </strong>
  <br/>
  <strong> {{user?.description}} </strong>
  <br/>
  <strong> {{user?.instrument}} </strong><i> {{user?.experience}} </i>
  <br/>
  <strong> {{user?.otherInstrument}} </strong><br>
  </div>


<!-- 


  <a class="btn btn-primary" href="/users/<%= user._id %>/edit">Editar mis datos</a>
  <a class="btn btn-primary" href="/ad/my-ads">Mis anuncios</a>
  <a class="btn btn-primary" href="/ad/new">Crear anuncio</a>




<a class="btn btn-primary" href="/users/delete">Eliminar mi perfil</a> -->

