
<div class="control-pannel">
    <button class="control" routerLink="/list">Anuncios publicados</button>
    <button class="control" routerLink="/ads/new">Crear anuncio</button>
    <button class="control" [routerLink]="['/ad/my-ads']"> Mis anuncios </button>
    <div *ngIf='session.getUser()'>
        <button class="control" (click)="logout()">Cerrar sesión</button>
      </div>
  </div>
<div class="parent">
<div class="child">
  <p>Envía tu mensaje</p>
  <form>
    <div class="message" *ngFor="let r of replies">

      <p>{{r.authorId}}</p>
      <p>{{r.content}}</p>

    </div>
  </form>

  <div class="sender">
      <textarea rows="4" cols="50" [(ngModel)]="content"></textarea>
    <button (click)="save()">Enviar</button>
  </div>
</div>
</div>