.parent {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100% auto;
    height: 650px;
    background-color: darkslategray;

}

.child {
    width: 80%;
    height: 650px;
    background-color: white;
    margin-left: 10%;
    padding: 60px 10px 10px 10px;
    border-bottom: 2px darkslategray solid;
}

.jorge {
    border: 4px darkslategrey solid;
    border-radius: 65px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.ihlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

}

p {
    padding: 2px 42px 0px 42px;
}

b {
    color: #294168;
}

h3 {
    text-align: center;
    font-weight: 700;
    padding-bottom: 15px;
}
