<div class="options">
    <button class="out" (click)="logout()"> Cerrar sesión </button>
    <button class="create" routerLink="/ad/new"> Crear anuncio nuevo</button>
    <div *ngIf='user'>
        <button class="back" [routerLink]="['/profile', user._id]"> Mi perfil</button>
    </div>
</div>

<button routerLink="/list">Volver al listado de anuncios</button>


<div class="parent">
    <div class="single-ad" name="ad">
        <!-- <strong> {{ad?.imgUrl}} </strong> -->
        <div class="heading">
            <h4> {{ad?.title}} </h4>
            <small> Publicado por {{user?.username}} el {{ad?.created_at}} </small>
        </div>
        <p> {{ad?.description}} </p>
        <ul class="tags">
            <li><a href="#" class="tag"> {{ad?.city}}</a></li>
            <li><a href="#" class="tag"> {{ad?.instrument}}</a></li>
            <li><a href="#" class="tag"> {{ad?.styles}}</a></li>
        </ul>
<div class="user-only">
        <div *ngIf='user && ad?.creator_id != user._id '>
            <button class="thread" routerLink="/threads/new"> Enviar mensaje</button>
        </div>
 
    <div *ngIf='session.getUser()'>
        <button class="create" routerLink="/ad/new"> Editar este anuncio</button>
    </div>
</div>
</div>
