<div class="control-pannel">
        <button class="control" routerLink="/list">Anuncios publicados</button>
        <button class="control" routerLink="/ads/new">Crear anuncio</button>
        <button class="control" [routerLink]="['/ad/my-ads']"> Mis anuncios </button>
        <div *ngIf='session.getUser()'>
            <button class="control" (click)="logout()">Cerrar sesión</button>
          </div>
      </div>
        
<div class="parent">
    <div class="single-ad" name="ad">
        <!-- <strong> {{ad?.imgUrl}} </strong> -->
        <div class="heading">
            <h4> {{ad?.title}} </h4>
            <small> Publicado por {{user?.username}} el {{ad?.created_at | date:'dd /MM/ yyyy' }} </small>
        </div>
        <p> {{ad?.description}} </p>
        <ul class="tags">
            <li><a href="#" class="tag"> {{ad?.city}}</a></li>
            <li><a href="#" class="tag"> {{ad?.instrument}}</a></li>
            <li><a href="#" class="tag"> {{ad?.styles}}</a></li>
        </ul>
<div class="user-only">
        <div *ngIf='user && ad?.creator_id != user._id '>
            <button class="thread" (click)="startThread()"> Enviar mensaje</button>
        </div>
 
    <div *ngIf='session.getUser()'>
        <button class="create" routerLink="/ad/new"> Editar este anuncio</button>
    </div>
</div>
</div>
</div>
<date-pipe></date-pipe>